[Unit]
Description=Http3 YTProxy for Invidious
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=http
Group=http
Environment="DISABLE_WEBP=1"
WorkingDirectory=/opt/http3-ytproxy
ExecStart=/opt/http3-ytproxy/http3-ytproxy -s http-proxy-%i.sock
Restart=on-failure
RestartSec=2s

ReadWritePaths=/opt/http3-ytproxy/socket
NoNewPrivileges=yes
MemoryDenyWriteExecute=true
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ProtectControlGroups=true
RestrictSUIDSGID=true
RestrictRealtime=true
LockPersonality=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectHostname=true
ProtectKernelModules=true
PrivateUsers=true
ProtectClock=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
